.header{
    
    border-radius: 16px;
    border:none;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin-bottom: 30px;
    box-sizing: border-box;
    align-items: center;
}