.container {
    width: 100%;
    max-width: 1300px;
    margin: 20px auto;
}

.h2{
    font-weight: bold;
}

.ExtensionsList{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}



.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
    gap: 10px


} 


@media (max-width: 768px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .container {
    width: 100%;
    max-width: 310px;
    margin: 20px auto;
}

    .Extensionslist {
        flex-direction: column;
        gap: 16px;
        text-align: center;
    }

    .card-container {
        grid-template-columns: 1fr; /* Show one card per row */
    }

    .card {
        height: auto; /* Let cards grow as needed */
    }

    .flex1 {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
    }

    .flex {
        display: flex;
        justify-content: flex-start;
    }

   

    img {
        max-width: 100%;
        height: auto;
    }
}